{% extends 'base.html.twig' %}

{% block sub_menu %}
    {% include('config/_menu.html.twig') %}
{% endblock %}

{% block title %}{{ data.id ? 'Update' : 'Create' }} {{ subject }}{% endblock %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}

    <h1>{{ data.id ? 'Update' : 'Create' }} {{ subject }} {{ data.name }}</h1>
    {{ form_start(form) }}
    <div class="row">
        {{ form_row(form.name) }}
        {% if form.type is defined %}
        {{ form_row(form.type) }}
        {% endif %}
        {% if form.ratio is defined %}
        {{ form_row(form.ratio) }}
        {% endif %}
        {% if form.value is defined %}
        {{ form_row(form.value) }}
        {% endif %}
        {% if form.shortname is defined %}
        {{ form_row(form.shortname) }}
        {% endif %}
        {% if form.isPrimary is defined %}
        {{ form_row(form.isPrimary) }}
        {% endif %}
        {% if form.attributes is defined %}
        {{ form_row(form.attributes) }}
        {% endif %}
    </div>
    <div class="row">
        <div class="col-12"> {{ form_row(form.description, { 'attr': {'cols': '100'}}) }} </div>
    </div>
    <button type="submit" class="btn btn-primary">{{ data.id ? 'Update' : 'Create' }}</button>
    <a href="{{ path('config_' ~ subject) }}"
       class="btn btn-primary">Cancel</a>
    {{ form_end(form) }}

{% endblock %}