{% extends 'base.html.twig' %}

{% block sub_menu %}
    {% include('config/_menu.html.twig') %}
{% endblock %}

{% block body %}
    <h1>{{subject|capitalize}}</h1>
    </br>
    {% if data != null %}
        <p>Their is {{data|length}} results !</p>
        </br>
    {% endif %}
    {% if subject == "particularity" %}
        <form action="{{ path('config_particularity') }}" method="GET">
            <select name="filter" id="filter">
                <option value="">--None--</option>
                {% for key, value in constant('App\\Entity\\Particularity::PARTICULARITY_TYPES_BY_STR') %}
                    <option value="{{value}}">{{key}}</option>
                {% endfor %}
            </select>
            <button type="submit" name="submit">Filter</button>
        </form>
    {% endif %}
    <div class="table-responsive table-hover">
        <table class="table table-bordered table-striped">

            <thead>
            <td>Name</td>
            <td>Description</td>
            {% if subject == "particularity" %}
            <td>Type</td>
            <td>Attribute(s)</td>
            <td>Ratio</td>
            {% else %}
            <td>Shortname</td>
            {% endif %}
            <td colspan="2">
                <a href="{{ path('config_' ~ subject ~ '_create') }}"
                    class="btn btn-success btn-block">Create</a>
            </td>
            </thead>

            <tbody>
            {% set PARTICULARITY_TYPES_BY_INT = constant('App\\Entity\\Particularity::PARTICULARITY_TYPES_BY_INT') %}
            {% for item in data %}
                <tr>
                    <td>
                        <a href="{{path('config_' ~ subject ~ '_update', {id:item.id})}}">{{ item.name }}</a>
                    </td>
                    <td>
                        {{ item.description }}
                    </td>
                    {% if item.type is defined %}
                    <td>
                        {{ PARTICULARITY_TYPES_BY_INT[item.type] }}
                    </td>
                    {% endif %}
                    {% if item.shortname is defined %}
                    <td>
                        {{ item.shortname }}
                    </td>
                    {% endif %}
                    {% if item.attributes is defined %}
                    <td>
                        {% for attribute in item.attributes %}
                            {{ attribute.shortname }}
                        {% endfor %}
                    </td>
                    {% endif %}
                    {% if item.ratio is defined %}
                    <td>
                        {{ item.ratio }}
                    </td>
                    {% endif %}
                    <td>
                        <a href="{{path('config_' ~ subject ~ '_update', {id:item.id})}}"
                        class="btn btn-warning btn-block">Update</a></td>
                    <td>
                        <a href="{{path('config_' ~ subject ~ '_delete', {id:item.id})}}"
                        class="btn btn-danger btn-block">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if data == null %}
            <p>Their is actually nothing to display !</p>
        {% endif %}
    </div>
{% endblock %}