{% extends 'base.html.twig' %}

{% block body %}
    <h1> NPC Generator (App)</h1>
    </br>
    <div class="table-responsive table-hover">
        <table class="table table-bordered table-striped">

            <thead>
                <td>Name</td>
                <td>Sex</td>
                <td>Age</td>
                <td>Created At</td>
                <td colspan="4">
                    <a href="{{ path('default_create') }}"
                        class="btn btn-success btn-block"><i class="fas fa-plus-square fa-2x"></i></a>
                </td>
            </thead>

            <tbody>
            {% set mon_token = csrf_token('CHARACTER_TOKEN') %}
            {% for char in data %}
                <tr>
                    <td>
                        <a href="{{path('default_display', {id:char.id})}}">{{ char.firstname }} {{ char.lastname }}</a>
                    </td>
                    <td>
                        {{ char.sex == 0 ? 'Male' : 'Female' }}
                    </td>
                    <td>{{ char.age }}</td>
                    <td>{{ char.createAt|date("d/m/Y") }}</td>
                    <td>
                        <a href="{{path('default_preview', {id:char.id})}}" target="_blank"
                        class="btn btn-primary btn-block"><i class="fas fa-file-alt fa-2x"></i></a></td>
                    <td>
                        <a href="{{path('default_export', {id:char.id})}}" target="_blank"
                        class="btn btn-primary btn-block"><i class="fas fa-file-pdf fa-2x"></i></a></td>
                    <td>
                        <a href="{{path('default_update', {id:char.id})}}"
                        class="btn btn-warning btn-block"><i class="fas fa-edit fa-2x"></i></a></td>
                    <td>
                        <a href="{{path('default_delete', {id:char.id})}}"
                        class="btn btn-danger btn-block"><i class="fas fa-trash-alt fa-2x"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if data == null %}
            <p>Their is actually no character to display !</p>
        {% endif %}
    </div>
{% endblock %}
