{% extends 'base.html.twig' %}

{% block body %}
    <h1> NPC Generator (Index)</h1>
    </br>
    <div class="table-responsive table-hover">
        <table class="table table-bordered table-striped">

            <thead>
            <td>Name</td>
            <td>Sex</td>
            <td>Age</td>
            <td>Created At</td>
            <td colspan="2">
                <a href="{{ path('create') }}"
                    class="btn btn-success btn-block">Create</a>
            </td>
            </thead>

            <tbody>
            {% set mon_token = csrf_token('CHARACTER_TOKEN') %}
            {% for char in data %}
                <tr>
                    <td>
                        <a href="">{{ char.firstname }} {{ char.lastname }}</a>
                    </td>
                    <td>
                        {{ char.sex == 0 ? 'Male' : 'Female' }}
                    </td>
                    <td>{{ char.age }}</td>
                    <td>{{ char.createAt|date("d/m/Y") }}</td>
                    <td>
                        <a href=""
                        class="btn btn-warning btn-block">Update</a></td>
                    <td>
                        <a href=""
                        class="btn btn-danger btn-block">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if data == null %}
            <p>Their is actually no character to display !</p>
        {% endif %}
    </div>
{% endblock %}
